<FO-jumbotron
	maintitle="¡Conoceme mejor!"
	lead="Me llamo Fernando Javier Osorio Lorenzo, aunque me llaman Fer, tengo {{age}} años, y soy un programador frontend, aunque de a momentos puedo ser backend."
	[descriptions]="['Me interesa la tecnología desde muy chico, y más de joven comencé a tener más interés en la programación web, llegando a ser el programador que soy hoy por hoy.']"
	[links]="[
		{
			text: 'Descargá mi CV',
			path: 'https://fernandoosorio.blob.core.windows.net/website/files/cv_fernando-osorio.pdf',
			internal: false,
			visible: true
		}
	]"
	[image]="'https://fernandoosorio.blob.core.windows.net/website/img/cover/about_2021-03.jpg'"
	>
</FO-jumbotron>

<section class="py-5">
	<div class="container">
		<!--div class="row container-with-ia"-->
			<!--div class="main-container py-1"-->
		<div class="row">
			<div class="col-lg-8 offset-lg-2 py-1">
				<h2 i18n="@@about-photo-title">¡Acá hay una foto de mí!</h2>
				<p class="lead"  i18n="@@about-photo-date">Upd: Marzo 2021</p>
				<p><i class="far fa-map-marker-alt"></i> Fernández de Enciso, cerca de Plaza Arenales</p>
				<img class="img-fluid img-thumbnail" src="https://fernandoosorio.blob.core.windows.net/website/img/profile/2021-03.jpg" alt="Foto de Fernando Osorio" title="Foto de mí - Marzo 2021" />
				<hr>
				<br>
				<h2 i18n="@@about-s1-title">¿Por qué soy programador y cómo terminé siéndolo?</h2>
				<p i18n="@@about-s1-t1">Fácil, desde chico vengo acompañado de una computadora, y siempre me intrigó querer cambiar cosas del sistema. De ahí viene el origen de todo.</p>
				<p>En 2013 me empiezan a dar clases de programación web en la secundaria, y mientras toda la clase empezaba a conocer el HTML, yo ya me estaba informando sobre el responsive design, por lo que en ese entonces empecé a programar mi camino a ser un... bueno, intento de programador? Por así decirlo.</p>
				<p>Y para 2014/2015 empezaba a encarrilarme definitivamente hacia la programación web, haciendo de CSS y JS mis principales fuertes para programar páginas web.</p>
				<p>Ah, prácticamente todo fue por autodidactismo, y hasta el día de hoy sigo haciéndolo de esa forma.</p>
				<hr>
				<h2>Experiencia en el área</h2>
				<p>Recién estoy haciendo el camino profesional. </p>
				<p>Estoy profundamente agradecido con "Esto es", una agencia de publicidad y software factory que presenta innovación y soluciones de llave en mano, quienes confiaron y siguen confiando en mí para producir productos de alta calidad a los clientes finales. Gracias a éllos estoy logrando adquirir herramientas de muy buen nivel para producir y crear mejores trabajos tanto en la empresa como en los proyectos propios.</p>
				<hr>
				<h2>Proyección a futuro</h2>
				<p>A futuro quiero establecerme como un desarrollador full-stack, manejando proyectos más complejos de la mano de stacks MEAN para escalarlos fácilmente.</p>
			</div>
			<!--div class="ia-container">
				<FM5-ias></FM5-ias>
			</div-->
		</div>
	</div>
</section>