.btn {
	&.btn-default {
		color: #fff !important;
		font-weight: 700;
		letter-spacing: 1.5px;
		outline: none;
		text-transform: uppercase;
	}
	&.btn-has-arrows {
		box-shadow: none !important;
		outline: none !important;
	    padding: 10px 15px;
		padding-left: 0;
		padding-right: 15px;
		position: relative;
		transition: 0.25s;
		transition-duration: 0.25s;
		.btn-arrow-before,
		.btn-arrow-after {
			height: 15px;
			position: absolute;
			top: calc(50% - 7.5px);
			transition-duration: 0.25s;
		}
		.btn-text {
			display: inline-block;
			vertical-align: middle;
			transition-duration: 0.25s;
		}
		.btn-arrow-before {
			left: 0;
			opacity: 0;
			transform: translateX(-15px);
		}
		.btn-arrow-after {
			opacity: 1;
			right: 0;
			transform: translateX(0px);
		}
		&:hover {
			padding-left: 15px;
			padding-right: 0;
			.btn-arrow-before {
				opacity: 1;
				transform: translateX(0px);
			}
			.btn-arrow-after {
				opacity: 0;
				transform: translateX(15px);
			}
		}
	}
}