@font-face {
  font-family: "Gotham";
  font-style: normal;
  font-weight: lighter;
  src: url("../../fonts/Gotham-Light.otf") format("opentype");
}
@font-face {
  font-family: "Gotham";
  font-style: normal;
  font-weight: bold;
  src: url("../../fonts/Gotham-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Gotham";
  font-style: normal;
  font-weight: normal;
  src: url("../../fonts/Gotham-Book.otf") format("opentype");
}
@font-face {
  font-family: "Gotham Bold";
  font-style: normal;
  font-weight: bold;
  src: url("../../fonts/Gotham-Bold.otf") format("opentype");
}

::selection{
  background-color: #001027;
  color: white;
}
::-moz-selection{
  background-color: #001027; 
  color: white;
}