// FM5UX original

footer {
	background-color: rgba(0, 0, 0, 0.25);
	padding: 40px 0;
	a, i {
		color: white;
		&.btn {color: inherit;}
	}
	h3 {
		text-transform: uppercase;
		font-weight: 900;
		color:rgba(255, 255, 255, 0.75);
		i {color:rgba(255, 255, 255, 0.75);}
	}

	margin-top: 20px;
	h1, h2, h3, h4, h5, h6 {
		&::after {
			content: '';
			display: block;
			width: inherit;
			height: 4px;
		}
	}
	ul {
		padding-left: 0;
		li {
			list-style: none;
			margin-right: 5px;
		}
	}
}