header {
	.nav-link {
		font-size: 14px;
		font-weight: 700;
		letter-spacing: 0.5px;
		text-transform: uppercase;
	}
	nav {
		@media screen and (min-width: 992px) {
			position: relative;
			&::before {
				background-color: $header-bg;
				content: '';
				display: block;
				height: 0%;
				left: 0;
				position: absolute;
				right: 0;
				top: 0;
				transition-duration: 0.25s;
				width: 100%;
			}
		}
	}
	@media screen and (min-width: 992px) {
		&.scrolled {
			nav::before {
				height: 100%;
			}
		}
	}
}