// FM5UX original

.shortcuts {
	margin-top: 14px;
	display: flex;
	.shortcut {
		align-items: center;
		background-color: transparent;
		border-radius: 6px;
		display: flex;
		margin: 10px;
		padding: 10px;
		position: relative;
		transition-duration: 0.5s;
		text-align: center;
		text-decoration: none;
		&:hover {
			background-color: rgba(20, 20, 20, .15);
		}
		.shortcut-circle {
			.circle {
				align-items: center;
				background: {
					repeat: no-repeat;
					size: cover;
					position: center;
				}
				border-radius: 100%;
				color: #fff;
				display: flex;
				flex-direction: column;
				height: 60px;
				justify-content: center;
				margin: 0 auto 24px auto;
				overflow: hidden;
				position: relative;
				width: 60px;
				i {
					font-size: 28px;
				}
				p{
					padding: {
						left: 10px;
						right: 10px;
					}
				}
			}
		}
		.shortcut-text {
			font-size: 14px;
			line-height: 16px;
			padding-left: 15px;
			text-align: left;
			.shortcut-title {
				font-size: 22px;
			}
		}

		@media screen and (min-width: 992px) {
			flex-direction: column;
			.shortcut-circle {
				flex: 0 0 100%;
				.circle {
					width: 112px;
					height: 112px;
					i {
						font-size: 48px;
					}
				}
			}
			.shortcut-text {
				flex: 0 0 100%;
				font-size: 16px;
				line-height: 18px;
				padding-left: 0px;
				text-align: center;
				.shortcut-title {
					font-size: 28px;
				}
			}
		}
	}
}
