<section id="cover" [style.backgroundImage]="'url(https://fernandoosorio.blob.core.windows.net/website/img/cover/blog.jpg)'">
  <div id="cover-container">
    <div id="cover-content">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <h1>Un apartado personal en Internet</h1>
            <p class="lead">En esta sección vas a poder leer algunos posts que voy haciendo, tratando de diversos temas, no sólo de la programación web, también otras cosas más.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="posts">
  <div class="container">
    <div class="row pb-3">
      <div class="col-lg-8 offset-lg-2">
        <div *ngIf="isLoading">
          <div class="post" *ngFor="let item of [].constructor(8); let i = index;">
            <div class="post-content">
              <h2>
                <span class="placeholder"><span class="placeholder-content"></span></span>
                <span class="placeholder"><span class="placeholder-content"></span></span>
              </h2>
              <p>
                <span class="placeholder"><span class="placeholder-content"></span></span>
                <span class="placeholder"><span class="placeholder-content"></span></span>
              </p>
            </div>
          </div>
        </div>
        <div>
          <span *ngIf="posts$ | async as posts">
            <div class="post" *ngFor="let item of posts">
              <div class="post-content">
                <h2>{{item.title}}</h2>
                <p>{{item.excerpt}}</p>
                <a class="btn btn-default btn-has-arrows" [routerLink]="'/blog/' + item.slug">
                  <svg class="btn-arrow-before" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" viewBox="0 0 320 512"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/></svg>
                  <span class="btn-text">Seguir leyendo</span>
                  <svg class="btn-arrow-after" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" viewBox="0 0 320 512"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/></svg>
                </a>
              </div>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>