#cover {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 75vh;
	max-height: calc(400px + 50px);
	min-height: 200px;
	position: relative;
	#cover-container {
		align-items: center;
		background-color: rgba(20, 20, 20, 0.5);
		display: flex;
		height: 100%;
		justify-content: center;
		#cover-content {
			margin-bottom: 50px;
			text-align: left;
			width: 100%;
			h1 {
				color: #fff;
				font-size: 24px;
				font-weight: 700;
				margin-bottom: 25px;
				position: relative;
				text-transform: uppercase;
				@media screen and (min-width: 992px) {
					font-size: 36px;
				}
				&::before,
				&::after {
					background-color: #fff;
					content: '';
					display: block;
					height: 3px;
					left: 0;
					position: absolute;
					width: 30px;
				}
				&::before {
					top: -12px;
				}
				&::after {
					bottom: -10px;
				}
			}
			p {
				color: #fff;
				font-size: 12px;
				line-height: 1.2;
				@media screen and (min-width: 992px) {
					font-size: 14px;
				}
				&.lead {
					font-size: 14px;
					@media screen and (min-width: 992px) {
						font-size: 16px;
					}
				}
				&:not(&.lead) {
					margin-bottom: 0;
				}
			}
		}
	}
}

#posts {
	transform: translateY(-50px);

	.post {
		background-color: #272727;
		border: 1px solid rgba(0, 0, 0, 0.125);
		border-radius: 4px;
		color: white;
		display: flex;
		flex-direction: column;
		min-width: 0;
		padding: 15px;
		position: relative;
		word-wrap: break-word;
		&:not(:last-child) {
			margin-bottom: 15px;
		}
		.placeholder {
			background-color: rgba(255, 255, 255, 0.25);
			display: block;
			width: 75%;
		}
		h2 {
			font-size: 24px;
			font-weight: 700;
			line-height: 1.2;
			margin-bottom: 15px;
			@media screen and (min-width: 992px) {
				font-size: 28px;
			}
			.placeholder {
				height: 26px;
				width: 35%;
				margin-bottom: 10px;
				&:not(:last-child) {
					margin-bottom: 5px;
					width: 95%;
				}
			}
		}
		p {
			font-size: 12px;
			line-height: 1.2;
			@media screen and (min-width: 992px) {
				font-size: 14px;
			}
			.placeholder {
				height: 15px;
				width: 40%;
				&:not(:last-child) {
					margin-bottom: 5px;
					width: 80%;
				}
			}
		}
	}
}