<div class="container">
	<div class="row" *ngIf="isLoading">
		<div class="col-12 col-lg-6 mt-4" *ngFor="let item of [].constructor(8); let i = index;">
			<div class="portfolio-item card">
				<div class="portfolio-item-img"></div>
			</div>
		</div>
	</div>
	<div class="row" *ngIf="rows$ | async as portfolio">
		<div class="col-12 col-lg-6 mt-4" *ngFor="let item of portfolio;">
			<a [routerLink]="'/portfolio/' + item.slug" class="portfolio-item card" [ngClass]="{'loaded': !isLoading}" *ngIf="item.visible">
				<div class="portfolio-item-img" [style.backgroundImage]="'url(' + item.image + ')'"></div>
				<div class="portfolio-item-content">
					<h4>{{item.name}}</h4>
				</div>
			</a>
		</div>
	</div>
</div>