.portfolio-item {
	overflow: hidden;
	position: relative;
	.portfolio-item-img {
		background-color: #333;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		padding-bottom: 56.25%;
		transition-duration: 0.25s;
		width: 100%;
		@media screen and (min-width: 992px) {
			transform: translateY(100%) scale(1);
		}
	}
	.portfolio-item-content {
		padding: 15px;
		transition-duration: 0.25s;
		@media screen and (min-width: 992px) {
			align-items: center;
			background-color: rgba(0, 0, 0, 0.5);
			bottom: 0;
			display: flex;
			justify-content: center;
			left: 0;
			opacity: 0;
			position: absolute;
			right: 0;
			text-align: center;
			top: 0;
		}
		h4 {
			font-size: 16px;
			font-weight: 700;
			margin-bottom: 0;
			transition-duration: 0.30s;
			@media screen and (min-width: 992px) {
				font-size: 24px;
				letter-spacing: 1px;
			}
		}
	}
	&.loaded {
		@media screen and (min-width: 992px) {
			.portfolio-item-img {
				filter: blur(0px);
				transform: translateY(0%) scale(1);
			}
			&:hover {
				.portfolio-item-img {
					filter: blur(2px);
					transform: translateY(0%) scale(1.05);
				}
				.portfolio-item-content {
					opacity: 1;
					h4 {
						letter-spacing: 0px;
					}
				}
			}
		}
	}
}