#cover {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 75vh;
	max-height: 400px;
	min-height: 200px;
	position: relative;
	#cover-container {
		align-items: center;
		background-color: rgba(20, 20, 20, 0.5);
		display: flex;
		height: 100%;
		justify-content: center;
		#cover-content {
			text-align: left;
			width: 100%;
			h1 {
				color: #fff;
				font-size: 24px;
				font-weight: 700;
				margin-bottom: 25px;
				position: relative;
				text-transform: uppercase;
				@media screen and (min-width: 992px) {
					font-size: 36px;
				}
				&::before,
				&::after {
					background-color: #fff;
					content: '';
					display: block;
					height: 3px;
					left: 0;
					position: absolute;
					width: 30px;
				}
				&::before {
					top: -12px;
				}
				&::after {
					bottom: -10px;
				}
			}
			p {
				color: #fff;
				font-size: 12px;
				line-height: 1.2;
				@media screen and (min-width: 992px) {
					font-size: 14px;
				}
				&.lead {
					font-size: 14px;
					@media screen and (min-width: 992px) {
						font-size: 16px;
					}
				}
				&:not(&.lead) {
					margin-bottom: 0;
				}
			}
		}
	}
}