<!--section class="jumbotron-container jumbotron-full-height jumbotron-video" [style.backgroundImage]="'url(' + image + ')'">
	<div *ngIf="breadcrumb_top" class="breadcrumb-container top">
		<div class="container">
			<ol class="breadcrumb row my-0">
				<li class="breadcrumb-item" *ngIf="breadcrumb_top_3 && breadcrumb_top_3_url"><a routerLink="{{breadcrumb_top_3_url}}">{{breadcrumb_top_3}}</a></li>
				<li class="breadcrumb-item" *ngIf="breadcrumb_top_2 && breadcrumb_top_2_url"><a routerLink="{{breadcrumb_top_2_url}}">{{breadcrumb_top_2}}</a></li>
				<li class="breadcrumb-item" *ngIf="breadcrumb_top_1 && breadcrumb_top_1_url"><a routerLink="{{breadcrumb_top_1_url}}">{{breadcrumb_top_1}}</a></li>
				<li class="breadcrumb-item active">{{breadcrumb_top_active}}</li>
			</ol>
		</div>
	</div>
	<div class="jumbotron container-fluid video-overlay jumbotron d-flex flex-center-vertical w-100">
		<video *ngIf="video;" poster="{{image}}" muted video autobuffer loop autoplay>
			<source src="{{video}}" type="video/mp4" muted>
		</video>
		<div class="d-flex align-items-center text-{{align}} w-100">
			<div class="container">
				<div class="row">
					<div class="{{column_container}}">
						<div *ngIf="maintitle;">
							<h1 class="heading-uppercase heading-uppercase-full inverted display-inline-block" style="display: inline-block">{{maintitle}}</h1>
						</div>
						<p class="lead" *ngIf="lead;">{{lead}}</p>
						<div class="btn-group">
							<a *ngIf="url_int;" class="btn btn-outline-light" routerLink="{{url_int}}">{{url_int_text}}</a>
							<a *ngIf="url_ext_1;" class="btn btn-outline-light" href="{{url_ext_1}}" target="_blank">{{url_ext_1_text}}</a>
							<a *ngIf="url_ext_2;" class="btn btn-outline-light" href="{{url_ext_2}}" target="_blank">{{url_ext_2_text}}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section-->

<section id="cover" [style.backgroundImage]="'url(' + image + ')'">
	<div id="cover-container">
		<div id="cover-content">
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<h1>{{maintitle}}</h1>
						<p class="lead" *ngIf="lead;">{{lead}}</p>
						<p *ngFor="let description of descriptions" [innerHTML]="description"></p>
						<span *ngFor="let link of links">
							<a *ngIf="link.internal" class="btn btn-default btn-has-arrows" [routerLink]="link.path">
								<svg class="btn-arrow-before" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" viewBox="0 0 320 512"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/></svg>
								<span class="btn-text">{{link.text}}</span>
								<svg class="btn-arrow-after" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" viewBox="0 0 320 512"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/></svg>
							</a>
							<a *ngIf="!link.internal" class="btn btn-default btn-has-arrows" [href]="link.path" target="_blank">
								<svg class="btn-arrow-before" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" viewBox="0 0 320 512"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/></svg>
								<span class="btn-text">{{link.text}}</span>
								<svg class="btn-arrow-after" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" viewBox="0 0 320 512"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/></svg>
							</a>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>