<div id="cover" [style.backgroundImage]="'url(https://fernandoosorio.blob.core.windows.net/website/img/cover/generic.jpg)'">
  <div id="cover-container">
    <div class="container">
      <div id="cover-content">
        <div>
          <h1>{{ 'home.cover.title' | translate }}</h1>
        </div>
        <p class="lead">{{ 'home.cover.lead' | translate }}</p>
        <p>{{ 'home.cover.text' | translate }}</p>
      </div>
    </div>
  </div>
</div>

<section id="about">
  <div class="container">
    <h2 class="text-center">{{ 'home.quick_items.title' | translate }}</h2>
    <div class="row shortcuts pb-2">
      <div class="col-md-6 col-lg-3">
        <div class="shortcut">
          <div class="shortcut-circle">
            <span class="circle bg-dark">
              <p id="age">{{age}}</p>
              <p id="age-detail">{{ 'home.quick_items.year_old_circle' | translate }}</p>
            </span>
          </div>
          <div class="shortcut-text">
            <h3 class="shortcut-title">{{ 'home.quick_items.year_old' | translate }}</h3>
            <p>{{textbirthday}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="shortcut">
          <div class="shortcut-circle">
            <span class="circle bg-dark">
              <i class="far fa-map-marker-alt"></i>
            </span>
          </div>
          <div class="shortcut-text">
            <h3 class="shortcut-title">{{ 'home.quick_items.location' | translate }}</h3>
            <p>{{ 'home.quick_items.location_text' | translate }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="shortcut">
          <div class="shortcut-circle">
            <span class="circle bg-dark">
              <i class="far fa-briefcase"></i>
            </span>
          </div>
          <div class="shortcut-text">
            <h3 class="shortcut-title">{{ 'home.quick_items.current_work' | translate }}</h3>
            <p>{{ 'home.quick_items.current_work_text' | translate }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="shortcut">
          <div class="shortcut-circle">
            <span class="circle bg-dark">
              <i class="far fa-coffee"></i>
            </span>
          </div>
          <div class="shortcut-text">
            <h3 class="shortcut-title">{{ 'home.quick_items.hobbies' | translate }}</h3>
            <p>{{ 'home.quick_items.hobbies_text' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center pt-2">
      <a class="btn btn-default btn-has-arrows" [routerLink]="'about'">
            <svg class="btn-arrow-before" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" viewBox="0 0 320 512"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/></svg>
            <span class="btn-text">{{ 'home.quick_items.cta' | translate }}</span>
            <svg class="btn-arrow-after" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" viewBox="0 0 320 512"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/></svg>
          </a>
    </div>
  </div>
</section>

<hr *ngIf="!isLoadingPortfolio">
<section class="py-5">
  <div class="container">
    <div class="row text-center pb-2">
      <h2 class="display-inline-block heading-uppercase heading-uppercase-full mx-auto">{{ 'home.portfolio.title' | translate }}</h2>
    </div>
    <div class="row" *ngIf="isLoadingPortfolio">
      <div class="col-sm-12 col-lg-4 mt-4" *ngFor="let item of [].constructor(3); let i = index;">
        <div class="portfolio-item card">
          <div class="portfolio-item-img"></div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="portfolio$ | async as portfolio">
      <div class="col-sm-12 col-lg-4 mt-4" *ngFor="let item of portfolio; let i = index;">
        <a [routerLink]="'/portfolio/' + item.slug" class="portfolio-item card" [ngClass]="{'loaded': !isLoadingPortfolio}" *ngIf="item.visible">
          <div class="portfolio-item-img" [style.backgroundImage]="'url(' + item.image + ')'"></div>
          <div class="portfolio-item-content">
            <h4>{{item.name}}</h4>
          </div>
        </a>
      </div>
    </div>
    <div class="text-center mt-4" *ngIf="portfolio$ | async as portfolio">
      <a class="btn btn-default btn-has-arrows" [routerLink]="'portfolio'">
            <svg class="btn-arrow-before" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" viewBox="0 0 320 512"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/></svg>
            <span class="btn-text">{{ 'home.portfolio.cta' | translate }}</span>
            <svg class="btn-arrow-after" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" viewBox="0 0 320 512"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/></svg>
          </a>
    </div>
  </div>
</section>

<!--section class="py-5">
  <div class="container text-center">
    <h2 i18n="@@home-contact-title">¡Estemos en contacto!</h2>
    <a href="mailto:fernandoosor.io@outlook.com" class="btn btn-outline-dark btn-lg">Vía e-mail</a>
  </div>
</section-->
