#cover {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 75vh;
	min-height: 400px;
	#cover-container {
		align-items: center;
		background-color: rgba(0, 0, 0, 0.75);
		display: flex;
		height: 100%;
		width: 100%;
		#cover-content {
			margin: 0 auto;
			max-width: 576px;
			text-align: center;
			h1 {
				display: inline-block;
				font-weight: 700;
				margin: 0 auto;
				text-transform: uppercase;
				&::after, &::before {
					background-color: #fff;
					content: ''; 
					display: block; 
					width: 100%;
					height: 4px;
					margin: 10px 2px;
				}
			}
		}
	}
}

#alert-beta {
	background-color: #4c2500;
	color: #fff;
	padding: 30px 0;
	p {
		color: #fff;
		margin-bottom: 0;
	}
}

#about {
	padding-bottom: 15px;
	padding-top: 15px;
	@media screen and (min-width: 992px) {
		padding-bottom: 30px;
		padding-top: 30px;
	}
}

#age {
	font-size: 25px;
	line-height: 1;
	margin-bottom: 0;
	@media screen and (min-width: 992px) {
		font-size: 40px;
	}
}
#age-detail {
	font-size: 6px;
	letter-spacing: 3.2px;
	margin: 0 auto;
	padding: 0;
	text-transform: uppercase;
	@media screen and (min-width: 992px) {
		font-size: 12px;
		letter-spacing: 2.5px;
	}
}


.portfolio-item {
	overflow: hidden;
	position: relative;
	.portfolio-item-img {
		background-color: #333;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		padding-bottom: 56.25%;
		transition-duration: 0.25s;
		width: 100%;
		@media screen and (min-width: 992px) {
			transform: translateY(100%) scale(1);
		}
	}
	.portfolio-item-content {
		padding: 15px;
		transition-duration: 0.25s;
		@media screen and (min-width: 992px) {
			align-items: center;
			background-color: rgba(0, 0, 0, 0.5);
			bottom: 0;
			display: flex;
			justify-content: center;
			left: -15px;
			opacity: 0;
			padding: 15px 0;
			position: absolute;
			right: -15px;
			text-align: center;
			top: 0;
		}
		h4 {
			font-size: 16px;
			font-weight: 700;
			margin-bottom: 0;
			transition-duration: 0.30s;
			@media screen and (min-width: 992px) {
				font-size: 24px;
				letter-spacing: 1px;
			}
		}
	}
	&.loaded {
		@media screen and (min-width: 992px) {
			.portfolio-item-img {
				filter: blur(0px);
				transform: translateY(0%) scale(1);
			}
			&:hover {
				.portfolio-item-img {
					filter: blur(2px);
					transform: translateY(0%) scale(1.05);
				}
				.portfolio-item-content {
					opacity: 1;
					h4 {
						letter-spacing: 0px;
					}
				}
			}
		}
	}
}