section {
	align-items: center;
	background-color: #000;
	display: flex;
	justify-content: center;
	min-height: 400px;
	padding-bottom: 48px;
	padding-top: 96px;
	@media screen and (min-height: 992px) {
		height: calc(100vh - 56px);
	}

	#login-container {
		margin: 0 auto;
		max-width: 400px;

		#dollars-brand {
			border: 2px solid #fff;
			border-radius: 250px;
			height: 250px;
			margin: 0 auto;
			margin-bottom: 15px;
			padding: 14px;
			width: 250px;
			@media screen and (min-width: 768px) {
				border-radius: 400px;
				height: 400px;
				margin-bottom: 30px;
				padding: 18px;
				width: 400px;
			}
			#dollars-brand-inner {
				align-items: center;
				border: 12px solid #fff;
				border-radius: 100%;
				display: flex;
				height: 100%;
				justify-content: center;
				width: 100%;
				svg {
					width: calc(100% - 40px);
				}
				@media screen and (min-width: 768px) {
					border: 14px solid #fff;
					svg {
						width: calc(100% - 60px);
					}
				}
			}
		}

		label {
			font-size: 13px;
			font-weight: 700;
			letter-spacing: 1.5px;
			text-transform: uppercase;
		}
		input {
			background-color: rgb(20, 20, 20);
			border: 2px solid rgba(255, 255, 255, 0.5);
			border-radius: 40px;
			color: #fff;
			font-size: 14px;
			outline: none;
			padding: 5px 15px;
			width: 100%;
		}

		.form-group {
			padding-bottom: 15px;
		}

		[type=submit] {
			border: none;
			border-radius: 24px;
			display: block;
			font-size: 14px;
			letter-spacing: 1.5px;
			margin: 0 auto;
			margin-top: 16px;
			padding: 8px 16px;
			text-transform: uppercase;
		}
	}
}