header {
	/*transform: translateY(-100%);
	transition-duration: 0.25s;
	&.loaded {
		transform: translateY(0);
	}*/
	#site-brand-fm5hd {
		border-style: none;
		display: inline-block;
		height: 25px;
		vertical-align: middle;
		.site-brand-letter {
			transform: translateY(100%);
			transition-duration: 0.25s;
			&#XMLID_66_ {transition-delay: 0.0s};
			&#XMLID_128_ {transition-delay: 0.03s};
			&#XMLID_125_ {transition-delay: 0.06s};
			&#XMLID_123_ {transition-delay: 0.09s};
			&#XMLID_121_ {transition-delay: 0.12s};
			&#XMLID_118_ {transition-delay: 0.15s};
			&#XMLID_116_ {transition-delay: 0.18s};
			&#XMLID_113_ {transition-delay: 0.21s};
			&#XMLID_111_ {transition-delay: 0.24s};
			&#XMLID_109_ {transition-delay: 0.27s};
			&#XMLID_106_ {transition-delay: 0.3s};
		}
		&.loaded {
			.site-brand-letter {
				transform: translateY(0);
			}
		}
	}

	#site-brand {
		border-style: none;
		display: inline-block;
		height: 36px;
		opacity: 0;
		overflow: hidden;
		transform: translateX(-16px);
		transition-duration: 0.25s;
		vertical-align: middle;
		&.loaded {
			opacity: 1;
			transform: translateX(0);
		}
	}
}
main {
	opacity: 0;
	padding-top: 90px;
	transition-duration: 0.4s;
	&.loaded {
		opacity: 1;
		padding-top: 56px;
	}
	@media screen and (min-width: 992px) {
		padding-top: 56px;
		&.loaded {
			padding-top: 0;
		}
	}
}

footer {
	#fm5hd-footer {
		display: block;
		margin: 0 auto;
		margin-bottom: 15px;
		max-width: 150px;
		@media screen and (min-width: 992px) {
			margin: inherit;
			max-width: 190px;
		}
	}
	#creativecommons {
		font-size: 10px;
		margin-bottom: 5px;
		margin-top: 10px;
		text-align: center;
		@media screen and (min-width: 992px) {
			margin-bottom: 10px;
			margin-top: 15px;
			text-align: left;
		}
	}
	#btn-creativecommons {
		color: #fff !important;
		background-color: transparent !important;
		border: none;
		font-size: 12px;
		font-weight: 700;
		letter-spacing: 1px;
		margin: 0 auto;
		text-transform: uppercase;
		@media screen and (min-width: 992px) {
			margin-left: 0;
		}
	}

	#socials {
		text-align: center;
		@media screen and (min-width: 992px) {
			text-align: right;
		}
		li {
			display: inline-block;
			vertical-align: middle;
			a {
				display: block;
				height: 40px;
				width: 50px;
			}
		}
	}
}

#cookie-disclaimer {
	background-color: #333;
	bottom: 0;
	left: 0;
	padding: 16px 0;
	position: fixed;
	right: 0;
	transform: translateY(100%);
	transition-duration: 0.25s;
	z-index: 1030;
	&.loaded.active {
		transform: translateY(0%);
	}
	p {
		font-size: 12px;
	}
	a {
		display: block;
		font-size: 12px;
	}
}