<header class="fixed-top" [ngClass]="{'scrolled': navbarScrolled}">
  <nav class="navbar navbar-expand-lg justify-content-between">
    <div class="container">
      <a class="navbar-brand" routerLink="" (click)="navbarCollapsed = true" style="color: #fff; padding: 2px 0">
        <!--svg id="site-brand-fm5hd" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.2" baseProfile="tiny" x="0px" y="0px" viewBox="0 0 598.5 86" xml:space="preserve">
          <g id="site-brand-letters">
            <g id="XMLID_55_">
              <linearGradient id="XMLID_66_" gradientUnits="userSpaceOnUse" x1="7.1821" y1="43.3701" x2="595.2788" y2="43.3701">
                <stop offset="0" style="stop-color:#ffffff"/>
                <stop offset="1" style="stop-color:#d7d7d7"/>
              </linearGradient>
              <path class="site-brand-letter" id="XMLID_128_" fill="url(#XMLID_66_)" d="M7.2,6.6H60v7.7H15.5v26.2h39.8v7.6H15.5v32H7.2V6.6z"/>
              <linearGradient id="XMLID_67_" gradientUnits="userSpaceOnUse" x1="7.1821" y1="53.0295" x2="595.2788" y2="53.0295">
                <stop offset="0" style="stop-color:#ffffff"/>
                <stop offset="1" style="stop-color:#d7d7d7"/>
              </linearGradient>
              <path class="site-brand-letter" id="XMLID_125_" fill="url(#XMLID_67_)" d="M89.2,74.3c7.5,0,12.7-3,17.1-7.7l5,4.5c-5.5,6.1-12.1,10.2-22.4,10.2    c-14.9,0-27.1-11.4-27.1-28.3c0-15.7,11-28.3,26-28.3c16.1,0,25.3,12.8,25.3,28.8c0,0.7,0,1.6-0.1,2.8h-43    C71.2,67.7,79.6,74.3,89.2,74.3z M105,49.8c-0.9-9.9-6.6-18.3-17.3-18.3c-9.3,0-16.5,7.8-17.6,18.3H105z"/>
              <linearGradient id="XMLID_68_" gradientUnits="userSpaceOnUse" x1="7.1821" y1="52.4953" x2="595.2788" y2="52.4953">
                <stop offset="0" style="stop-color:#ffffff"/>
                <stop offset="1" style="stop-color:#d7d7d7"/>
              </linearGradient>
              <path class="site-brand-letter" id="XMLID_123_" fill="url(#XMLID_68_)" d="M119.5,25.8h8.1V40c4-9,11.9-15.5,22.2-15.1v8.7h-0.6c-11.9,0-21.5,8.5-21.5,24.9    v21.6h-8.1V25.8z"/>
              <linearGradient id="XMLID_69_" gradientUnits="userSpaceOnUse" x1="7.1821" y1="52.3997" x2="595.2788" y2="52.3997">
                <stop offset="0" style="stop-color:#ffffff"/>
                <stop offset="1" style="stop-color:#d7d7d7"/>
              </linearGradient>
              <path class="site-brand-letter" id="XMLID_121_" fill="url(#XMLID_69_)" d="M154.2,25.8h8.1V35c3.6-5.4,8.4-10.3,17.5-10.3c8.8,0,14.5,4.7,17.4,10.8    c3.9-6,9.7-10.8,19.1-10.8c12.5,0,20.2,8.4,20.2,21.8v33.6h-8.1V48.4c0-10.5-5.3-16.4-14.1-16.4c-8.2,0-15,6.1-15,16.8v31.3h-8    V48.2c0-10.2-5.4-16.2-14-16.2c-8.6,0-15.1,7.1-15.1,17.1v31h-8.1V25.8z"/>
              <linearGradient id="XMLID_70_" gradientUnits="userSpaceOnUse" x1="7.1821" y1="53.0295" x2="595.2788" y2="53.0295">
                <stop offset="0" style="stop-color:#ffffff"/>
                <stop offset="1" style="stop-color:#d7d7d7"/>
              </linearGradient>
              <path class="site-brand-letter" id="XMLID_118_" fill="url(#XMLID_70_)" d="M242.8,53.2V53c0-15.3,12-28.3,28.3-28.3c16.3,0,28.2,12.8,28.2,28.1V53    c0,15.3-12.1,28.3-28.5,28.3C254.7,81.4,242.8,68.6,242.8,53.2z M291.1,53.2V53c0-11.7-8.7-21.2-20.2-21.2    c-11.8,0-19.8,9.6-19.8,21V53c0,11.7,8.6,21.1,20.1,21.1C282.9,74.1,291.1,64.7,291.1,53.2z"/>
              <linearGradient id="XMLID_71_" gradientUnits="userSpaceOnUse" x1="7.1821" y1="45.26" x2="595.2788" y2="45.26">
                <stop offset="0" style="stop-color:#ffffff"/>
                <stop offset="1" style="stop-color:#d7d7d7"/>
              </linearGradient>
              <path class="site-brand-letter" id="XMLID_116_" fill="url(#XMLID_71_)" d="M308.9,65.7V33h-7.6v-7.1h7.6V9.5h8.1v16.4h17.2V33H317v31.7c0,6.6,3.7,9,9.1,9    c2.7,0,5-0.5,7.9-1.9v6.9c-2.8,1.5-5.9,2.3-9.8,2.3C315.6,81.1,308.9,76.8,308.9,65.7z"/>
              <linearGradient id="XMLID_72_" gradientUnits="userSpaceOnUse" x1="7.1821" y1="53.0295" x2="595.2788" y2="53.0295">
                <stop offset="0" style="stop-color:#ffffff"/>
                <stop offset="1" style="stop-color:#d7d7d7"/>
              </linearGradient>
              <path class="site-brand-letter" id="XMLID_113_" fill="url(#XMLID_72_)" d="M335.7,53.2V53c0-15.3,12-28.3,28.3-28.3c16.3,0,28.2,12.8,28.2,28.1V53    c0,15.3-12.1,28.3-28.5,28.3C347.6,81.4,335.7,68.6,335.7,53.2z M384,53.2V53c0-11.7-8.7-21.2-20.2-21.2c-11.8,0-19.8,9.6-19.8,21    V53c0,11.7,8.6,21.1,20.1,21.1C375.8,74.1,384,64.7,384,53.2z"/>
              <linearGradient id="XMLID_73_" gradientUnits="userSpaceOnUse" x1="7.1821" y1="44" x2="595.2788" y2="44">
                <stop offset="0" style="stop-color:#ffffff"/>
                <stop offset="1" style="stop-color:#d7d7d7"/>
              </linearGradient>
              <path class="site-brand-letter" id="XMLID_111_" fill="url(#XMLID_73_)" d="M394.9,70.1l8-9.3c5.9,5.5,12.1,8.8,18.9,8.8c8.8,0,14.6-5,14.6-12.7v-0.2    c0-7.5-6.3-12.2-15.2-12.2c-5.3,0-9.8,1.5-13.5,3.3l-7.8-5.1l2.1-36h43.9v11.4h-32.8L412,35.3c3.5-1.3,6.7-2.1,11.7-2.1    c14.3,0,25.5,7.6,25.5,23.1v0.2c0,15-10.9,24.9-27.2,24.9C410.7,81.4,401.9,76.9,394.9,70.1z"/>
              <linearGradient id="XMLID_74_" gradientUnits="userSpaceOnUse" x1="7.1821" y1="43.3701" x2="595.2788" y2="43.3701">
                <stop offset="0" style="stop-color:#ffffff"/>
                <stop offset="1" style="stop-color:#d7d7d7"/>
              </linearGradient>
              <path class="site-brand-letter" id="XMLID_109_" fill="url(#XMLID_74_)" d="M456.9,6.6h12.9v30.6h35.1V6.6h12.9v73.5h-12.9v-31h-35.1v31h-12.9V6.6z"/>
              <linearGradient id="XMLID_75_" gradientUnits="userSpaceOnUse" x1="7.1821" y1="43.3701" x2="595.2788" y2="43.3701">
                <stop offset="0" style="stop-color:#ffffff"/>
                <stop offset="1" style="stop-color:#d7d7d7"/>
              </linearGradient>
              <path class="site-brand-letter" id="XMLID_106_" fill="url(#XMLID_75_)" d="M528.8,6.6h27.4c23.1,0,39.1,15.9,39.1,36.5v0.2c0,20.7-16,36.7-39.1,36.7h-27.4    V6.6z M556.2,68.4c15.4,0,25.5-10.4,25.5-24.8v-0.2c0-14.4-10.1-25-25.5-25h-14.5v50H556.2z"/>
            </g>
          </g>
        </svg-->
        <svg id="site-brand" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 637.84 228.22" fill="currentColor">
          <path class="site-brand-letter" d="M663.69,476.45h19.44v20H663.69Z" transform="translate(-364.08 -269.89)"/>
          <path class="site-brand-letter" d="M368.61,274.27h76.15v16.37H386.59v27.92h51.6v16.37h-51.6v41.66h-18Z" transform="translate(-364.08 -269.89)"/>
          <path class="site-brand-letter" d="M450.75,338.29V338c0-22.07,15.64-40.19,37.71-40.19,24.56,0,37,19.29,37,41.51,0,1.6-.15,3.21-.29,5H468.44c1.9,12.56,10.81,19.58,22.21,19.58,8.63,0,14.77-3.21,20.91-9.21l10.37,9.21c-7.3,8.77-17.39,14.47-31.57,14.47C468,378.34,450.75,362.12,450.75,338.29Zm57.15-5.7c-1.17-11.4-7.89-20.31-19.58-20.31-10.82,0-18.42,8.33-20,20.31Z" transform="translate(-364.08 -269.89)"/>
          <path class="site-brand-letter" d="M535.82,299.41H553.5v17.4c4.83-11.55,13.74-19.44,27.33-18.86v18.71h-1c-15.49,0-26.31,10.09-26.31,30.55v29.38H535.82Z" transform="translate(-364.08 -269.89)"/>
          <path class="site-brand-letter" d="M588.72,299.41h17.69v12c5-7.31,12.13-13.59,24.12-13.59,17.39,0,27.48,11.69,27.48,29.67v49.11H640.32V332.74c0-12-6-18.86-16.52-18.86-10.23,0-17.39,7.16-17.39,19.15v43.56H588.72Z" transform="translate(-364.08 -269.89)"/>
          <path class="site-brand-letter" d="M719.1,376.59v-9.5c-5.26,6.28-13.3,11.1-25,11.1-14.62,0-27.48-8.33-27.48-23.82v-.29c0-17.1,13.3-25.29,31.28-25.29A65,65,0,0,1,719.25,332v-1.46c0-10.67-6.73-16.52-19-16.52-8.63,0-15.06,1.9-22.08,4.82l-4.82-14.18a66.19,66.19,0,0,1,29.38-6.43c22.8,0,33.91,12,33.91,32.6v45.75Zm.44-32.3a50.4,50.4,0,0,0-17.69-3.07c-11.1,0-17.68,4.53-17.68,12v.29c0,7.31,6.58,11.4,14.91,11.4,11.69,0,20.46-6.57,20.46-16.22Z" transform="translate(-364.08 -269.89)"/>
          <path class="site-brand-letter" d="M750.23,299.41h17.69v12c5-7.31,12.13-13.59,24.11-13.59,17.4,0,27.48,11.69,27.48,29.67v49.11H801.83V332.74c0-12-6-18.86-16.52-18.86-10.23,0-17.39,7.16-17.39,19.15v43.56H750.23Z" transform="translate(-364.08 -269.89)"/>
          <path class="site-brand-letter" d="M829.45,338.15v-.3c0-25.57,17.39-40,35.81-40,12.71,0,20.75,6.43,26.31,13.59V269.89h17.68v106.7H891.57V363.73c-5.7,8-13.74,14.46-26.31,14.46C847.13,378.19,829.45,363.73,829.45,338.15Zm62.41,0v-.3c0-14.9-10.52-24.7-22.36-24.7-12.13,0-22.22,9.36-22.22,24.7v.3c0,14.91,10.23,24.7,22.22,24.7S891.86,352.91,891.86,338.15Z" transform="translate(-364.08 -269.89)"/>
          <path class="site-brand-letter" d="M919.63,338.44v-.29c0-22.07,17.54-40.34,41.22-40.34s41.07,18,41.07,40v.3c0,21.92-17.54,40.19-41.36,40.19C937,378.34,919.63,360.36,919.63,338.44Zm64.6,0v-.29c0-13.6-9.79-24.85-23.67-24.85-14.18,0-23.24,11.11-23.24,24.55v.3c0,13.44,9.79,24.84,23.53,24.84C975.17,363,984.23,351.74,984.23,338.44Z" transform="translate(-364.08 -269.89)"/><path d="M364.08,445.49v-.29c0-28.79,22.22-52.91,53.64-52.91s53.35,23.82,53.35,52.62v.29c0,28.8-22.21,52.91-53.64,52.91S364.08,474.29,364.08,445.49Zm88.14,0v-.29c0-19.88-14.47-36.39-34.79-36.39s-34.49,16.22-34.49,36.1v.29c0,19.88,14.47,36.39,34.78,36.39S452.22,465.37,452.22,445.49Z" transform="translate(-364.08 -269.89)"/>
          <path class="site-brand-letter" d="M477.06,486.27l7.89-12c8.33,6.28,17.4,9.5,25.29,9.5,7.6,0,12-3.22,12-8.33v-.29c0-6-8.19-8-17.25-10.82-11.4-3.22-24.12-7.89-24.12-22.66v-.29c0-14.62,12.13-23.53,27.48-23.53a53.5,53.5,0,0,1,28.36,8.77l-7,12.57c-7.45-4.53-15.35-7.31-21.78-7.31-6.87,0-10.82,3.21-10.82,7.75v.29c0,5.55,8.34,7.89,17.4,10.81,11.25,3.51,24,8.63,24,22.51v.3c0,16.22-12.57,24.26-28.65,24.26A54.23,54.23,0,0,1,477.06,486.27Z" transform="translate(-364.08 -269.89)"/>
          <path class="site-brand-letter" d="M544.73,458.21v-.29c0-22.07,17.54-40.34,41.22-40.34s41.07,18,41.07,40v.3c0,21.92-17.54,40.19-41.36,40.19C562.13,498.11,544.73,480.13,544.73,458.21Zm64.61,0v-.29c0-13.6-9.8-24.85-23.68-24.85-14.18,0-23.24,11.11-23.24,24.55v.3c0,13.44,9.79,24.84,23.53,24.84C600.28,482.76,609.34,471.51,609.34,458.21Z" transform="translate(-364.08 -269.89)"/>
          <path class="site-brand-letter" d="M637.54,419.18h17.69v17.4c4.82-11.55,13.74-19.44,27.33-18.86v18.71h-1c-15.49,0-26.31,10.09-26.31,30.55v29.38H637.54Z" transform="translate(-364.08 -269.89)"/>
          <path class="site-brand-letter" d="M690.75,390.54h19v16.8h-19Zm.73,28.64h17.68v77.18H691.48Z" transform="translate(-364.08 -269.89)"/>
          <path class="site-brand-letter" d="M720.56,458.21v-.29c0-22.07,17.54-40.34,41.22-40.34s41.07,18,41.07,40v.3c0,21.92-17.54,40.19-41.36,40.19C738,498.11,720.56,480.13,720.56,458.21Zm64.61,0v-.29c0-13.6-9.8-24.85-23.68-24.85-14.18,0-23.24,11.11-23.24,24.55v.3c0,13.44,9.79,24.84,23.53,24.84C776.1,482.76,785.17,471.51,785.17,458.21Z" transform="translate(-364.08 -269.89)"/>
        </svg>
      </a>

      <ul class="navbar-nav ml-auto" [ngClass]="{'navbar-toggled': !navbarCollapsed}" id="navbar-site">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" routerLink="">{{ 'header.home' | translate }}</a>
        </li>
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" routerLink="about">{{ 'header.about' | translate }}</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="portfolio">{{ 'header.portfolio' | translate }}</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="blog">{{ 'header.blog' | translate }}</a>
        </li>
        <!--li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">{{activeLang.toUpperCase()}}</a>
          <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
            <li><a class="dropdown-item active" href="#" onclick="event.preventDefault();" (click)="changeLang('es')" [ngClass]="{'active': activeLang == 'es'}">Español</a></li>
            <li><a class="dropdown-item" href="#" onclick="event.preventDefault();" (click)="changeLang('en')" [ngClass]="{'active': activeLang == 'en'}">English <span class="badge bg-warning">Beta</span></a></li>
          </ul>
        </li-->
      </ul>
    </div>
  </nav>
  <button id="btn-menu-mobile" [ngClass]="{'collapsed': navbarCollapsed}" type="button" (click)="navbarCollapsed = !navbarCollapsed" [attr.aria-expanded]="!navbarCollapsed" aria-expanded="false" aria-label="Alternar navegación">
    <div>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </button>
</header>
<main class="navbar-is-fixed">
  <div class="container">
    <div id="notification-area" *ngIf="notification" style="background-color: rgb(0, 0, 0, 0.95); position: fixed; bottom: 16px; padding: 8px 16px; z-index: 1; border-radius: 4px;">
      <p class="mb-0"><b style="text-transform: uppercase; letter-spacing: 2px; font-size: 13px; font-weight: 700;">{{notification.title}}</b></p>
      <p class="mb-0">{{notification.text}}</p>
    </div>
  </div>
  <div class="loading-overlay" #spinnerElement style="opacity: 0; display: none;">
  </div>
  <div [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet (activate)="onActivate($event)" #outlet="outlet"></router-outlet>
  </div>
</main>
<footer class="mt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <svg id="f3971fe5-d837-49ac-b546-e0a6adbba4cc" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 637.84 228.22" fill="currentColor" style="height: 60px; opacity: 0.5;"><path d="M663.69,476.45h19.44v20H663.69Z" transform="translate(-364.08 -269.89)"/><path d="M368.61,274.27h76.15v16.37H386.59v27.92h51.6v16.37h-51.6v41.66h-18Z" transform="translate(-364.08 -269.89)"/><path d="M450.75,338.29V338c0-22.07,15.64-40.19,37.71-40.19,24.56,0,37,19.29,37,41.51,0,1.6-.15,3.21-.29,5H468.44c1.9,12.56,10.81,19.58,22.21,19.58,8.63,0,14.77-3.21,20.91-9.21l10.37,9.21c-7.3,8.77-17.39,14.47-31.57,14.47C468,378.34,450.75,362.12,450.75,338.29Zm57.15-5.7c-1.17-11.4-7.89-20.31-19.58-20.31-10.82,0-18.42,8.33-20,20.31Z" transform="translate(-364.08 -269.89)"/><path d="M535.82,299.41H553.5v17.4c4.83-11.55,13.74-19.44,27.33-18.86v18.71h-1c-15.49,0-26.31,10.09-26.31,30.55v29.38H535.82Z" transform="translate(-364.08 -269.89)"/><path d="M588.72,299.41h17.69v12c5-7.31,12.13-13.59,24.12-13.59,17.39,0,27.48,11.69,27.48,29.67v49.11H640.32V332.74c0-12-6-18.86-16.52-18.86-10.23,0-17.39,7.16-17.39,19.15v43.56H588.72Z" transform="translate(-364.08 -269.89)"/><path d="M719.1,376.59v-9.5c-5.26,6.28-13.3,11.1-25,11.1-14.62,0-27.48-8.33-27.48-23.82v-.29c0-17.1,13.3-25.29,31.28-25.29A65,65,0,0,1,719.25,332v-1.46c0-10.67-6.73-16.52-19-16.52-8.63,0-15.06,1.9-22.08,4.82l-4.82-14.18a66.19,66.19,0,0,1,29.38-6.43c22.8,0,33.91,12,33.91,32.6v45.75Zm.44-32.3a50.4,50.4,0,0,0-17.69-3.07c-11.1,0-17.68,4.53-17.68,12v.29c0,7.31,6.58,11.4,14.91,11.4,11.69,0,20.46-6.57,20.46-16.22Z" transform="translate(-364.08 -269.89)"/><path d="M750.23,299.41h17.69v12c5-7.31,12.13-13.59,24.11-13.59,17.4,0,27.48,11.69,27.48,29.67v49.11H801.83V332.74c0-12-6-18.86-16.52-18.86-10.23,0-17.39,7.16-17.39,19.15v43.56H750.23Z" transform="translate(-364.08 -269.89)"/><path d="M829.45,338.15v-.3c0-25.57,17.39-40,35.81-40,12.71,0,20.75,6.43,26.31,13.59V269.89h17.68v106.7H891.57V363.73c-5.7,8-13.74,14.46-26.31,14.46C847.13,378.19,829.45,363.73,829.45,338.15Zm62.41,0v-.3c0-14.9-10.52-24.7-22.36-24.7-12.13,0-22.22,9.36-22.22,24.7v.3c0,14.91,10.23,24.7,22.22,24.7S891.86,352.91,891.86,338.15Z" transform="translate(-364.08 -269.89)"/><path d="M919.63,338.44v-.29c0-22.07,17.54-40.34,41.22-40.34s41.07,18,41.07,40v.3c0,21.92-17.54,40.19-41.36,40.19C937,378.34,919.63,360.36,919.63,338.44Zm64.6,0v-.29c0-13.6-9.79-24.85-23.67-24.85-14.18,0-23.24,11.11-23.24,24.55v.3c0,13.44,9.79,24.84,23.53,24.84C975.17,363,984.23,351.74,984.23,338.44Z" transform="translate(-364.08 -269.89)"/><path d="M364.08,445.49v-.29c0-28.79,22.22-52.91,53.64-52.91s53.35,23.82,53.35,52.62v.29c0,28.8-22.21,52.91-53.64,52.91S364.08,474.29,364.08,445.49Zm88.14,0v-.29c0-19.88-14.47-36.39-34.79-36.39s-34.49,16.22-34.49,36.1v.29c0,19.88,14.47,36.39,34.78,36.39S452.22,465.37,452.22,445.49Z" transform="translate(-364.08 -269.89)"/><path d="M477.06,486.27l7.89-12c8.33,6.28,17.4,9.5,25.29,9.5,7.6,0,12-3.22,12-8.33v-.29c0-6-8.19-8-17.25-10.82-11.4-3.22-24.12-7.89-24.12-22.66v-.29c0-14.62,12.13-23.53,27.48-23.53a53.5,53.5,0,0,1,28.36,8.77l-7,12.57c-7.45-4.53-15.35-7.31-21.78-7.31-6.87,0-10.82,3.21-10.82,7.75v.29c0,5.55,8.34,7.89,17.4,10.81,11.25,3.51,24,8.63,24,22.51v.3c0,16.22-12.57,24.26-28.65,24.26A54.23,54.23,0,0,1,477.06,486.27Z" transform="translate(-364.08 -269.89)"/><path d="M544.73,458.21v-.29c0-22.07,17.54-40.34,41.22-40.34s41.07,18,41.07,40v.3c0,21.92-17.54,40.19-41.36,40.19C562.13,498.11,544.73,480.13,544.73,458.21Zm64.61,0v-.29c0-13.6-9.8-24.85-23.68-24.85-14.18,0-23.24,11.11-23.24,24.55v.3c0,13.44,9.79,24.84,23.53,24.84C600.28,482.76,609.34,471.51,609.34,458.21Z" transform="translate(-364.08 -269.89)"/><path d="M637.54,419.18h17.69v17.4c4.82-11.55,13.74-19.44,27.33-18.86v18.71h-1c-15.49,0-26.31,10.09-26.31,30.55v29.38H637.54Z" transform="translate(-364.08 -269.89)"/><path d="M690.75,390.54h19v16.8h-19Zm.73,28.64h17.68v77.18H691.48Z" transform="translate(-364.08 -269.89)"/><path d="M720.56,458.21v-.29c0-22.07,17.54-40.34,41.22-40.34s41.07,18,41.07,40v.3c0,21.92-17.54,40.19-41.36,40.19C738,498.11,720.56,480.13,720.56,458.21Zm64.61,0v-.29c0-13.6-9.8-24.85-23.68-24.85-14.18,0-23.24,11.11-23.24,24.55v.3c0,13.44,9.79,24.84,23.53,24.84C776.1,482.76,785.17,471.51,785.17,458.21Z" transform="translate(-364.08 -269.89)"/></svg>
        <!--svg id="fm5hd-footer" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 379.46 86.15">
          <g style="opacity:0.5"><path d="M12,18.15H72.84V27H21.54V57.23H67.4v8.71H21.54v36.91H12Z" transform="translate(-11.98 -18.15)" style="fill:#fff"/><path d="M79.25,18.15h9.68l30.86,46.22,30.86-46.22h9.68v84.7h-9.56V34.24L119.91,79.62h-.48L88.57,34.36v68.49H79.25Z" transform="translate(-11.98 -18.15)" style="fill:#fff"/><path d="M165.89,91.35l9.2-10.77c6.77,6.3,13.91,10.17,21.78,10.17,10.16,0,16.82-5.81,16.82-14.64v-.24c0-8.6-7.26-14-17.55-14a36.18,36.18,0,0,0-15.61,3.75l-8.95-5.93L174,18.15h50.58V31.34H186.82l-1.33,19.84a36.06,36.06,0,0,1,13.43-2.42c16.46,0,29.41,8.71,29.41,26.62v.24c0,17.31-12.59,28.68-31.34,28.68C184,104.3,173.88,99.1,165.89,91.35Z" transform="translate(-11.98 -18.15)" style="fill:#fff"/><path d="M233.53,18.15h18.63V51.67h34.37V18.15h18.63v84.7H286.53v-34H252.16v34H233.53Z" transform="translate(-11.98 -18.15)" style="fill:#fff"/><path d="M313.39,18.15h33c26.62,0,45,18.27,45,42.11v.24c0,23.84-18.39,42.35-45,42.35h-33Zm33,67.88C361.67,86,372,75.74,372,60.74V60.5c0-15-10.28-25.53-25.53-25.53H332V86Z" transform="translate(-11.98 -18.15)" style="fill:#fff"/></g>
        </svg-->
        <p id="creativecommons" i18n="@@footer-license">El contenido de mi Sitio Personal está licenciado bajo Creative Commons Reconocimiento 4.0 Internacional.</p>
        <div class="text-center text-lg-start">
          <a id="btn-creativecommons" class="btn btn-outline-light btn-has-arrows" [routerLink]="'opensource'" i18n="@@footer-know-more">
            <svg class="btn-arrow-before" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" viewBox="0 0 320 512"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/></svg>
            <span class="btn-text">Conocé más</span>
            <svg class="btn-arrow-after" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" viewBox="0 0 320 512"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/></svg>
          </a>
        </div>
      </div>
      <div class="col-lg-9">
        <ul id="socials">
          <li>
            <a href="https://youtube.com/fermoto5hd" target="_blank" rel="noopener nofollow">
              <i class="fab fa-youtube"></i>
            </a>
          </li>
          <li>
            <a href="https://instagram.com/fermoto5hd" target="_blank" rel="noopener nofollow">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="https://flickr.com/fermoto5hd" target="_blank" rel="noopener nofollow">
              <i class="fab fa-flickr"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!--div id="cookie-disclaimer" class="active">
  <div class="container">
    <p>{{ 'cookie_disclaimer.intro' | translate }}</p>
    <p>{{ 'cookie_disclaimer.txt_1' | translate }}</p>
    <p>{{ 'cookie_disclaimer.txt_2' | translate }}</p>
    <a href="#">{{ 'cookie_disclaimer.close' | translate }}</a>
  </div>
</div-->