<section id="error-404">
	<div class="container text-center">
		<div class="row">
			<div class="col-lg-8 offset-lg-2">
				<h1 class="heading-uppercase heading-uppercase-full d-inline-block" i18n="@@error404-title">Página no encontrada</h1>
				<p i18n="@@error404-text">La página fue movida de lugar o nunca existió.</p>
				<div class="text-center mt-4">
					<a class="btn btn-default btn-has-arrows" [routerLink]="'/'">
			          <svg class="btn-arrow-before" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" viewBox="0 0 320 512"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/></svg>
			          <span class="btn-text">Volver al inicio</span>
			          <svg class="btn-arrow-after" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" viewBox="0 0 320 512"><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"/></svg>
			        </a>
				</div>
			</div>
		</div>
	</div>
</section>