<FO-jumbotron
	maintitle="Portfolio"
	lead="Estos trabajos fueron realizados con distintas metodologías, algunos han sido encargados por particulares y otros los hice por mi cuenta."
	[descriptions]="['Foundation, Bootstrap, jQueryUI, Angular entre otros frameworks me sirvieron de ayuda para armar los sitios que se encuentran reunidos en esta sección.']"
	[image]="'https://fernandoosorio.blob.core.windows.net/website/img/cover/portfolio.jpg'"
	>
</FO-jumbotron>

<section class="container pt-5">
	<div class="row text-center pb-3">
		<h2 class="display-inline-block heading-uppercase heading-uppercase-full mx-auto" i18n="@@portfolio-abilities-title">Habilidades</h2>
		<div class="col-md-6 offset-md-3">
			<p class="lead" i18n="@@portfolio-abilities-lead">Estas habilidades las fuí adquiriendo tanto en el ámbito profesional como en el personal, y continúo haciendo research para crear mejores trabajos en menos tiempo.</p>
		</div>
	</div>
	<div class="row text-center py-3">
		<div class="col-md-6">
			<h3 i18n="@@portfolio-abilities-webdevelopment-title">Desarrollo web</h3>
			<p i18n="@@portfolio-abilities-webdevelopment-text">Una web moderna necesita de tecnologías modernas y escalables. Soportes recientes y con potencial para seguir descubriendo lo nuevo.</p>
			<div class="row text-center py-5">
				<div class="col-4 col-md-4 pb-4">
					<img src="assets/img/technologies/icon-node.svg" class="img-fluid" title="Node JS" alt="Node JS" width="125" height="125" border="0" />
				</div>
				<div class="col-4 col-md-4 pb-4">
					<img src="assets/img/technologies/icon-mongo.svg" class="img-fluid" title="MongoDB" alt="MongoDB" width="125" height="125" border="0" />
				</div>
				<div class="col-4 col-md-4 pb-4">
					<img src="assets/img/technologies/icon-angular.svg" class="img-fluid" title="Angular/AngularJS (legacy)" alt="Angular/AngularJS (legacy)" width="125" height="125" border="0" />
				</div>
				<div class="col-4 col-md-4 pb-4">
					<img src="assets/img/technologies/icon-express.svg" class="img-fluid" title="Express" alt="Express" width="125" height="125" border="0" />
				</div>
				<div class="col-4 col-md-4 pb-4">
					<img src="assets/img/technologies/icon-sass.svg" class="img-fluid" title="SCSS" alt="SCSS" width="125" height="125" border="0" />
				</div>
				<div class="col-4 col-md-4 pb-4">
					<img src="assets/img/technologies/icon-docker.svg" class="img-fluid" title="Docker" alt="Docker" width="125" height="125" border="0" />
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<h3 i18n="@@portfolio-abilities-ads-title">Banners interactivos</h3>
			<p i18n="@@portfolio-abilities-ads-text">Desarrollados en HTML5, para que el usuario sea parte del anuncio. Con certificación oficial para crear anuncios de excelente calidad.</p>
			<div class="row text-center py-5">
				<div class="col-6 pb-4">
					<a href="http://goo.gl/E7EGW" target="_blank">
						<img src="assets/img/technologies/cert_qa.png" class="img-fluid" title="DoubleClick QA Certifed" alt="DoubleClick QA Certifed" width="125" height="125" border="0" />
					</a>
				</div>
				<div class="col-6 pb-4">
					<a href="http://goo.gl/E7EGW" target="_blank">
						<img src="assets/img/technologies/cert_gwd.png" class="img-fluid" title="DoubleClick GWD Certified" alt="DoubleClick GWD Certified" width="125" height="125" border="0" />
					</a>
				</div>
				<div class="col-6 pb-4">
					<img src="assets/img/technologies/icon-gwd.png" class="img-fluid" title="Google Web Designer" alt="Google Web Designer" width="125" height="125" border="0" />
				</div>
				<div class="col-6 pb-4">
					<img src="assets/img/technologies/icon-adobe-animate.svg" class="img-fluid" title="Adobe Animate" alt="Adobe Animate" width="125" height="125" border="0" />
				</div>
			</div>
		</div>
	</div>
</section>

<section class="container pb-5">
	<div class="row text-center">
		<h2 class="display-inline-block heading-uppercase heading-uppercase-full mx-auto" i18n="@@portfolio-works-title">Trabajos realizados</h2>
	</div>
	<div class="container">
		<div class="row" *ngIf="isLoading">
			<div class="col-12 col-lg-6 mt-4" *ngFor="let item of [].constructor(8); let i = index;">
				<div class="portfolio-item card">
					<div class="portfolio-item-img"></div>
				</div>
			</div>
		</div>
		<div class="row" *ngIf="rows$ | async as portfolio">
			<div class="col-12 col-lg-6 mt-4" *ngFor="let item of portfolio;">
				<a [routerLink]="'/portfolio/' + item.slug" class="portfolio-item card" [ngClass]="{'loaded': !isLoading}" *ngIf="item.visible">
					<div class="portfolio-item-img" [style.backgroundImage]="'url(' + item.image + ')'"></div>
					<div class="portfolio-item-content">
						<h4>{{item.name}}</h4>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>