p {
	word-break: break-all;
	&.lead {
		font-size: 14px;
		@media screen and (min-width: 992px) {
			font-size: 18px;
		}
	}
}

hr {
	margin-bottom: 25px;
	margin-top: 25px;
}

#post {
	margin: 0 auto;
	max-width: 576px;
	@media screen and (min-width: 992px) {
		padding-top: 24px;
	}
}