<section class="pt-2 pb-5 pt-lg-5">
	<article class="py-4">
		<div class="container" *ngIf="post$ | async as post">
			<div id="post">
				<h1 *ngIf="post.title" class="heading-uppercase heading-uppercase-full inverted display-inline-block" style="display: inline-block">{{post.title}}</h1>
				<p class="lead" *ngIf="post.excerpt">{{post.excerpt}}</p>
				<small *ngIf="post_date">Publicado el {{post_date}}</small>
				<hr>
				<div class="main-post" *ngIf="post_content">
					<div [innerHTML]="post_content"></div>
				</div>
				<hr style="display: none;">
				<!--h3>¿Te gustó lo que redacté?</h3>
				<p>¡Podés votar y/o dejarme un comentario!</p>
				<div class="alert alert-success" [hidden]="!vote_result">
					<p class="m-0">¡Gracias por votar!</p>
				</div>
				<div class="btn-group mb-3">
					<button class="btn btn-outline-secondary" [attr.disabled]="vote_not_available ? '' : null" [ngClass]="{'disabled': vote_not_available}" (click)="onVote('Y')">¡Si!</button>
					<button class="btn btn-outline-secondary" [attr.disabled]="vote_not_available ? '' : null" [ngClass]="{'disabled': vote_not_available}" (click)="onVote('K')">Emm... maso</button>
					<button class="btn btn-outline-secondary" [attr.disabled]="vote_not_available ? '' : null" [ngClass]="{'disabled': vote_not_available}" (click)="onVote('N')">Nah...</button>
				</div>
				<fm5-blog-post-disqus slug="{{post.slug}}" title="{{post.title}}">
					<div class="disqus-loader">
						<p>Cargando...</p>
					</div>
				</fm5-blog-post-disqus-->
			</div>
		</div>
	</article>
</section>