<FO-jumbotron
	maintitle="Open Source & Creative Commons"
	lead="El desarrollo de este sitio es de código abierto, y también posee la licencia Creative Commons."
	[descriptions]="['Esto permite que puedas ver todo el desarrollo hecho en las plataformas de desarrollo colaborativo como BitBucket. También podés hacer uso de este desarrollo, aunque mejor te recomiendo que leas toda la página.']"
	[image]="'https://fernandoosorio.blob.core.windows.net/website/img/cover/portfolio.jpg'"
	>
</FO-jumbotron>
<section class="py-5">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 py-1">
				<h2>Licencia CC BY 4.0</h2>
				<p>El contenido de mi <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Sitio Personal</span> está licenciado bajo <span rel="license">Creative Commons Reconocimiento 4.0 Internacional</span>.</p>
				<hr>
				<h2>¿Qué es Open Source?</h2>
				<p>Traducido, es "Código abierto". Significa dejar al descubierto todo el trabajo desarrollado para que cualquier persona lo pueda ver o pueda aportar sobre ello. Que algo sea open source no necesariamente significa que podamos copiarlo y hacerlo pasar como algo nuestro. Es ahí donde viene el apartado del licenciamiento, donde entre todas las licencias, está Creative Commons.</p>
				<hr>
				<h2>¿Qué significa que algo tenga la licencia Creative Commons?</h2>
				<p>Significa que eso se puede distribuir bajo ciertas condiciones. Desde las más permisivas hasta algunas que no son muy permisivas que digamos.</p>
				<p>Por ejemplo, esta página tiene la licencia CC 4.0 BY. Esa licencia permite:</p>
				<ul>
					<li>Compartir este desarrollo en cualquier formato.</li>
					<li>Adaptar el desarrollo para cualquier cosa, incluso con fines lucrativos (si, no me importa si vas a reusar el código del sitio)</li>
				</ul>
				<p>Pero sólo podés hacerlo si:</p>
				<ul>
					<li>Me das los créditos de este desarrollo (atribución).</li>
					<li>No le agregás restricciones adicionales aparte de las que establece la licencia.</li>
				</ul>
				<hr>
				<h2>¿Por qué te debería importar esto?</h2>
				<p>Porque el mundo está apuntando a ser más abierto con la comunidad, no lo digo yo, las grandes empresas están moviéndose de esa forma. Android es un desarrollo Open Source, Microsoft publica su Visual Studio Code completo y lo van mejorando mucho, Apple abrió su lenguaje Swift y pudo introducir muchisimas mejoras gracias a la comunidad, algunos integrantes de Twitter desarrollaron Bootstrap y lo abrieron a todo el mundo, y podemos quedarnos todo el día si querés nombrando todo lo que usamos y que tiene a una gran comunidad aportando para mejorar todo lo que usamos.</p>
				<p>A la vez, permite el incentivo de nuevas metodologías y la autosuperación constante para captar a otras personas a que participen de la comunidad, o usen el producto.</p>
				<hr>

				<h2>Links <i class="fa fa-external-link" aria-hidden="true"></i></h2>

				<div class="list-group">
					<a href="https://bitbucket.com/fernandoosorio/sitiopersonal" target="_blank" class="list-group-item list-group-item-action">
						<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1">Repositorio del sitio</h5>
						</div>
						<p class="mb-1">Disponible en BitBucket.</p>
						<small>Incluyendo versiones anteriores.</small>
					</a>
					<a href="http://creativecommons.org/licenses/by/4.0/legalcode" target="_blank" class="list-group-item list-group-item-action">
						<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1">Licencia Creative Commons</h5>
						</div>
						<p class="mb-1">Versión legal.</p>
					</a>
					<a href="http://creativecommons.org/licenses/by/4.0/" target="_blank" class="list-group-item list-group-item-action">
						<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1">Licencia Creative Commons</h5>
						</div>
						<p class="mb-1">Versión más entendible y resumida.</p>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
