#cover {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 75vh;
	max-height: 400px;
	min-height: 200px;
	#cover-breadcrumb {
		background-color: rgba(0, 0, 0, 0.75);
		padding-bottom: 8px;
		padding-top: 8px;
		@media screen and (min-width: 992px) {
			padding-bottom: 8px;
			padding-top: 64px;
		}
		.breadcrumb {
			background-color: transparent;
			margin-bottom: 0;
			padding-left: 0;
			padding-right: 0;
			.breadcrumb-item a, .breadcrumb-item {
				color: #fff;
			}
			a {
				text-decoration: none;
			}
		}
	}
	#cover-container {
		align-items: center;
		background-color: rgba(20, 20, 20, 0.5);
		display: flex;
		height: calc(100% - 40px);
		justify-content: center;
		@media screen and (min-width: 992px) {
			height: calc(100% - 40px - 56px);
		}
		#cover-content {
			text-align: center;
			width: 100%;
			h1 {
				color: #fff;
				font-size: 36px;
				font-weight: 700;
			}
			p {
				color: #fff;
				margin-bottom: 0;
			}
			@media screen and (min-width: 992px) {
				padding-top: 0;
			}
		}
	}
}

#content {
	padding-bottom: 30px;
	padding-top: 30px;
	h2 {
		font-weight: 700;
	}
}

#versions {
	.nav-item {
		cursor: pointer;
		&.nav-link.active {
			background-color: #333;
		}
	}
}