<span *ngIf="data$ | async as data">
	<section id="cover" [style.backgroundImage]="'url(' + data.image + ')'">
		<div id="cover-breadcrumb">
			<div class="container">
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a [routerLink]="'/portfolio'">Portfolio</a></li>
					<li class="breadcrumb-item"><span>{{data.name}}</span></li>
				</ul>
			</div>
		</div>
		<div id="cover-container">
			<div id="cover-content">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 offset-lg-2">
							<h1>{{data.name}}</h1>
							<p>{{data.excerpt}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="content">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-3">
					<div [innerHTML]="data.content"></div>
				</div>
			</div>
		</div>
	</section>
	<section id="versions" *ngIf="data.versions">
		<div class="container">
			<div class="nav nav-pills justify-content-center" id="nav-tab" role="tablist" *ngIf="data.versions.length > 1">
				<span class="nav-item nav-link" *ngFor="let version of data.versions; let i = index;" [ngClass]="{'active': version_tab === i}" [id]="'nav-' + i + '-tab'" data-toggle="tab" role="tab" onclick="return false;" (click)="changeVersion(i)">{{version.display_name}}</span>
			</div>
			<div class="tab-content" id="nav-tabContent">
				<div class="tab-pane fade show" *ngFor="let version of data.versions; let i = index;" [ngClass]="{'show active': version_tab === i}" [id]="'nav-version-' + i" role="tabpanel">
					<div class="container">
						<div class="row">
							<div class="col-lg-8 offset-lg-2" *ngIf="version.images.length > 0">
								<img [src]="version.images[0]" class="img-fluid img-rounded py-4">
							</div>
							<div class="col-lg-6 offset-lg-3" *ngIf="version.images.length > 0">
								<div class="py-4">
									<h2>El pedido</h2>
									{{version.excerpt}}
								</div>
								<div class="py-4">
									<h2>La propuesta</h2>
									{{version.description}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</span>